<header class="mdc-top-app-bar nav bg-dark">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <mdb-icon fab icon="teamspeak"></mdb-icon>

      <a routerLink="" class="mdc-top-app-bar__title" data-heading="A">NNA Game</a>

    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">


      <button routerLink="pagelurah" class="btn btn-dark " >Lurah</button>
      <a class="fas fa-user-tie" routerLink="sign"></a>
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu"
        data-toggle="modal" data-target="#myModal2">menu</button>
    </section>
  </div>
</header>
<br>
<div class="sidebar">
<app-sidebar></app-sidebar>
</div>
