<ul id="autoWidth" class="container" class="cs-hidden">
        <!--box-1--------------------->
        <li class="item">
            <div class="feature-box">
                <a href="#">
                    <img src="images/feature_1.jpg">
                </a>
            </div>
            <span>RPG</span>
        </li>
        <!--box-2--------------------->
        <li class="item">
            <div class="feature-box">
                <a href="#">
                    <img src="images/feature_2.jpg">
                </a>
            </div>
            <span>Sport</span>
        </li>
        <!--box-3--------------------->
        <li class="item">
            <div class="feature-box">
                <a href="#">
                    <img src="images/feature_3.jpg">
                </a>
            </div>
            <span>Fuzze</span>
        </li>
        <!--box-4--------------------->
        <li class="item">
            <div class="feature-box">
                <a href="#">
                    <img src="images/feature_4.jpg">
                </a>
            </div>
            <span>Fight</span>
        </li>
        <!--box-5--------------------->
        <li class="item">
            <div class="feature-box">
                <a href="#">
                    <img src="images/feature_5.jpg">
                </a>
            </div>
            <span>Soccer</span>
        </li>
        <!--box-6--------------------->
        <li class="item">
            <div class="feature-box">
                <a href="#">
                    <img src="images/feature_6.jpg">
                </a>
            </div>
            <span>Action</span>
        </li>

      </ul>
