<div style="background: url(https://media.hitekno.com/thumbs/2019/08/03/24548-fifa-20/730x480-img-24548-fifa-20.jpg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">FIFA 20 E-SPORT</h1>
        <p class="font-italic mb-0">This game accept 100 participant.</p>

        <div class="icongame">
        <a href="#"><i class="fas fa-share-alt"></i></a> &nbsp;
        <a href="#"><i class="fas fa-gamepad"></i></a> &nbsp;
        <a href="#"><i class="fas fa-trophy"></i></a> &nbsp;
        <a href="#"><i class="fas fa-user-check"></i></a>
        </div>
    </div>
</div>

<!-- For Demo Purpose -->
<div class="container py-5">
    <h2 class="h3 font-weight-bold">Game E-sport Online make Compoticion</h2>
    <div class="row">
        <div class="col-lg-10 mb-4">
          <button type="button" class="btn btn-primary" routerLink="matchday" name="button">MatchDay</button>
        </div>
        <div class="col-lg-8">
            <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur <strong class="font-weight-bold text-dark">adipisicing elit, sed </strong>do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <strong class="font-weight-bold text-dark">reprehenderit in voluptate </strong>velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>
    </div>
    <p>
      <app-bracket></app-bracket>
    </p>
</div>
