<div class="d-flex">
  <!-- Card -->
  <mdb-card
    style="background-image: url('https://assets-a1.kompasiana.com/items/album/2019/02/03/esportw2pg-5c56cbb0bde575296c6c2a63.jpg')"
    class="card-image mb-3 mx-2"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <h5 class="pink-text">
          <mdb-icon fas icon="chart-pie"></mdb-icon>
          Marketing
        </h5>
        <h3 class="card-title pt-2"><strong>E-Sport</strong></h3>
        <p>
          Esports (also known as electronic sports, e-sports, or eSports) is a form of sport
          competition using video games.[1] Esports often takes the form of organized, multiplayer video game competitions, particularly between professional players, individually or as teams.
          Although organized competitions have long been a part of video game culture,.
        </p>
        <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          View project</a
        >
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <!-- Card -->

  <!-- Card -->
  <mdb-card
    style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg')"
    class="card-image mb-3 mx-2"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
      <div>
        <h5 class="orange-text">
          <mdb-icon fas icon="desktop"></mdb-icon>
          Software
        </h5>
        <h3 class="card-title pt-2"><strong>Tournament</strong></h3>
        <p>
          A tournament is a competition involving a relatively large number of competitors, all participating in a sport or game. More specifically
        </p>
        <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          View project</a
        >
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <!-- Card -->
</div>
