
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You will play any games here in Arena NNA!</p>
                        </div>
                    <div class="col-md-9 register-right">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Register as a Gammer</h3>
                                <div class="row register-form">
                                  <form>
                                    <div class="col-md">
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.username" name="username" type="text" class="form-control" placeholder="username" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.email" name="email" type="email" class="form-control" placeholder="email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.password" name="password" type="password" class="form-control" placeholder="******" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.namadepan" name="namadepan" type="text" class="form-control"  placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.namabelakang" name="namabelakang" type="text" class="form-control" placeholder="lastname *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input [(ngModel)]="datauser.umur" name="umur" type="text" class="form-control" placeholder="Your age*" value="" />
                                        </div>



                                        <button (click)="signupUser()" class="btnRegister bg-dark" >Register</button>
                                        <a routerLink="/sign" class="btnRegister">Go to Login</a>
                                </div>
                                </form>
                            </div>

            </div>
