  <h1>BEST GAME POPULER</h1>
  <a routerLink="listgame">view history game</a>
  <div class="card-deck" >
    <mdb-card *ngFor="let isda of product$ | async" >
    <div class="view overlay waves-light" mdbWavesEffect>

      <mdb-card-img src="https://i.ytimg.com/vi/ihE96a6bD-E/maxresdefault.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <mdb-card-body >

      <mdb-card-title>
        <h4>{{isda.title}}</h4>
      </mdb-card-title>


      <mdb-card-text>{{isda.interanlName}}
      </mdb-card-text>

      <a routerLink="/populer" mdbBtn color="primary" mdbWavesEffect>Join Play</a>
    </mdb-card-body>
  </mdb-card>


    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>

        <mdb-card-img src="https://static.republika.co.id/uploads/images/inpicture_slide/pubg_200428114349-263.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>

      <mdb-card-body>

        <mdb-card-title>
          <h4>PUBG</h4>
        </mdb-card-title>


        <mdb-card-text> Some quick example text to build on the Game FUBG and make cup you can get the tropy for
        </mdb-card-text>

        <p>
          <mdb-icon fas icon="heart" size="1x" aria-hidden="true"></mdb-icon><small class="pr-2">112</small>
          <mdb-icon fas icon="comment-alt" routerLink="comment" size="1x" ></mdb-icon><small class="pr-2">2</small>
          <mdb-icon fas icon="gamepad" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" size="1" ></mdb-icon><small class="pr-2">join</small>

          <mdb-icon fas icon="trophy" size="1"></mdb-icon><small class="pr-2">12</small>
        </p>
      </mdb-card-body>
    </mdb-card>

    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>

        <mdb-card-img src="https://i.ytimg.com/vi/vgQNOIhRsV4/maxresdefault.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>

      <mdb-card-body>

        <mdb-card-title>
          <h4>FIFA20</h4>
        </mdb-card-title>


        <mdb-card-text> Some quick example text to build on the Game FIFA and make cup you can get the tropy for you
        </mdb-card-text>


        <p>
          <mdb-icon fas icon="heart" size="1x" aria-hidden="true"></mdb-icon><small class="pr-2">112</small>
          <mdb-icon fas icon="comment-alt" routerLink="comment" size="1x" ></mdb-icon><small class="pr-2">2</small>
          <mdb-icon fas icon="gamepad" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" size="1" ></mdb-icon><small class="pr-2">join</small>

          <mdb-icon fas icon="trophy" size="1"></mdb-icon><small class="pr-2">12</small>
        </p>
      </mdb-card-body>
    </mdb-card>


    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>

        <mdb-card-img class="animated bounce infinite"
          src="https://gamebrott.com/wp-content/uploads/2020/01/garena-free-fire.jpg" alt="Card image cap">
        </mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>

      <mdb-card-body>

        <mdb-card-title>
          <h4>MOBILE LEGEND</h4>
        </mdb-card-title>
        <mdb-card-text> Some quick example text to build on the Game FF and make cup you can get the tropy for you
        </mdb-card-text>
        <p>
          <mdb-icon fas icon="heart" size="1x" aria-hidden="true"></mdb-icon><small class="pr-2">112</small>
          <mdb-icon fas icon="comment-alt" routerLink="comment" size="1x" ></mdb-icon><small class="pr-2">2</small>
          <mdb-icon fas icon="gamepad" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" size="1" ></mdb-icon><small class="pr-2">join</small>

          <mdb-icon fas icon="trophy" size="1"></mdb-icon><small class="pr-2">12</small>
        </p>
      </mdb-card-body>
    </mdb-card>

    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>

        <mdb-card-img class="animated bounce infinite"
          src="https://esports.id/img/article/897420181016070123.jpg" alt="Card image cap">
        </mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>

      <mdb-card-body>

        <mdb-card-title>
          <h4>FREE FIRE</h4>
        </mdb-card-title>
        <mdb-card-text> Some quick example text to build on the Game FF and make cup you can get the tropy for you
        </mdb-card-text>
        <p>
          <mdb-icon fas icon="heart" size="1x" aria-hidden="true"></mdb-icon><small class="pr-2">112</small>
          <mdb-icon fas icon="comment-alt" routerLink="comment" size="1x" ></mdb-icon><small class="pr-2">2</small>
          <mdb-icon fas icon="gamepad" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" size="1" ></mdb-icon><small class="pr-2">join</small>

          <mdb-icon fas icon="trophy" size="1"></mdb-icon><small class="pr-2">12</small>
        </p>
      </mdb-card-body>
    </mdb-card>



  </div>
  <!--  TOKEN_HEADER_KEY
  <div class="choosegame">
    <app-bestplayer></app-bestplayer>
  </div> -->
  <app-contactjoin></app-contactjoin>
