<div class="body"></div>


		<div class="wrapper fadeInDown">
		  <div id="formContent">
		    <!-- Tabs Titles -->

		    <!-- Icon -->
		    <div class="fadeIn first">
		      <img src="../../../assets/nnagame.png" id="icon" alt="User Icon" />
		      <h1>Add game </h1>
		    </div>

		    <!-- Login Form -->
		    <form>
					<input type="file"><br>
	 				<input type="text" placeholder="nama game" name="namagame"><br>
          <input type="text" placeholder="Description game" name="description"><br>
          <select class="typegame" name="">
            <option value="freeforall">Free for All</option>
            <option value="individual">Individuals</option>
          </select>
		      <input type="submit" class="fadeIn fourth" value="Log In">
		    </form>

		  </div>
		</div>
